@import url('popartheader.css');
/*@import url('hero.css');*/

body {
  margin: 0;

  color: #ffffff;
  font-family: 'Alegreya', sans-serif;
  font-weight: 400;
  font-size: 24px;
}

.container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.scrollcontainer {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;

  overflow-x: hidden;
  overflow-y: auto;
}

.section {
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.header-bg {
  background: none;
  /*background-image: url('img/bg.jpg');
  background-size: cover;
  background-position: center center;*/
}

.section.abscenter {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.feat-email {
  flex: 1;
  color: rgba(0, 0, 0, 0.56);
  text-align: center;
}
